@charset "UTF-8";

$orange: #FF7737;
$orange2: #FBB045;
$orange3: #FDD395;
$blue:#1585C5;
$blue2:#82A9D1;
$gray:#F7F7F7;
$gray2:#E2E2E2;
$black: #000000;
$black2: #2a2626;
$black3:#333333;
$black4:#555555;






